<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-img src="https://pbs.twimg.com/profile_images/1268857481498853377/OYKvMO2l_400x400.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>
          Ahmed Chouihi
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1268857481498853377/OYKvMO2l_400x400.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Ahmed Chouihi
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1268857481498853377/OYKvMO2l_400x400.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Ahmed Chouihi
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1268857481498853377/OYKvMO2l_400x400.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Ahmed Chouihi
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-img src="https://pbs.twimg.com/profile_images/1268857481498853377/OYKvMO2l_400x400.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>
        Ahmed Chouihi
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
